/* css/animations.css */
/* === OZZY SPRITE === */
#ozzySpriteContainer {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    pointer-events: none; 
    z-index: 999; 
    overflow: hidden;
}

.ozzy-sprite {
    position: absolute; 
    width: 180px; 
    filter: drop-shadow(0 0 25px #ff0000);
    opacity: 0; 
    transition: opacity 0.8s ease; 
    pointer-events: none;
}

.ozzy-sprite.active {
    opacity: 1;
    animation: ghostDrive 14s ease-in-out forwards;
}


@keyframes ghostDrive {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
}

/* === GALERIE === */
@keyframes popIn {
    to { opacity: 1; transform: translateY(0); }
}