/* css/animations.css */
@keyframes bounceLeft {
    0% { transform: translateX(0);}
    50% { transform: translateX(-200px);}
    100% { transform: translateX(0);}    
}

@keyframes bounceRight {
    0% { transform: translateX(0);}
    50% { transform: translateX(200px);}
    100% { transform: translateX(0);}
}

@keyframes bouncerCenter {
    0% { transform: translateX(0);}
    50% { transform: translateX(100px) scale(0.8);}
    100% { transform: translateX(0);}
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0)}
    25% { transform: translateX(-10px)}
    75% { transform: translateX(10px)}    
}

@keyframes halfCirclePath {
    0% { top: -100px; left: 50%; transform: translateX(-50%); opacity: 1; }
    50% { top: 50%; left: 100%; transform: translateX(-100%) rotate(180deg); opacity: 1; }
    100% { top: 100%; left: 50%; transform: translateX(-50%); opacity: 0; }
}

/*== Ozzy Sprite Animation ==*/

#spriteContainer {
    position: relative;
    height: 280px;
    overflow: hidden;
    background: linear-gradient(transparent, rgb(232, 17, 17));
    border-radius: 20px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

#ozzySprite {
    position: fixed;
    width: 160px;
    height: auto;
    z-index: 999;
    filter: drop-shadow(0 0 20px #ff0000) brightness(1.3);
    opacity: 0;
    pointer-events: none;
    animation: ozzyRandomDrive 15s infinite ease-in-out;
}

@keyframes ozzyRandomDrive {
    0%     { opacity: 0; }
    8%     { opacity: 1; }
    92%    { opacity: 1; }
    100%   { opacity: 0; }
}

/* Ozzy Erscheinung alle 20-40 sekunden*/
.ghost-mode #ozzySprite {
    animation: ozzyGhost 2s infinite;
}

@keyframes ozzyGhost {
    0%, 100% { opacity: 0.3; filter: blur(2px) hue-rotate(180deg); }
    50% { opacity: 0.8; filter: blur(0) hue-rotate(0deg); }
}