/* css/concert.css */
body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000 url('../assets/images/ozzy-memorial-bg.jpg') center/cover fixed;
}
nav {
    margin: 20px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
    background: rgba(0,0,0,0.85);
    background-image: url('../assets/images/RIP.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}
header, main, section {
    background: rgba(0,0,0,0.85);
    background-image: url('../assets/images/RIP.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
}

footer {
    background: rgba(0,0,0,0.85);
    background-image: url('../assets/images/RIP.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
}
iframe {
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 560px;
    height: 315px;
    margin: 10px;
    border: 3px solid #ff0000;
    border-radius: 50px;
}
@media (max-width: 768px) {
    iframe { height: 200px; }
}

#song-container {
    display: flex;
    background-image: url("../assets/images/BandBlackSabbath.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
    flex-direction: column;
    align-items: center;
}

#konzert-container {
    display: flex;
    background-image: url("../assets/images/ozzy-osbourne-sept-10-2022-billboard-1548.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
    flex-direction: column;
    align-items: center;
}

#beerdigung {
    background-image: url("../assets/images/ozzy-osbourne-on-stage.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px auto;
    max-width: 1200px;
    border-radius: solid #ff0000d1 5px;
    box-shadow: 0 0 20px #ff0000;
    flex-direction: column;
    align-items: center;
}