/* css/layout.css */
/* === HEADER === */
header {
    padding: 2rem 1rem;
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(1px) transparent;
    
}
h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px #ff0000;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1.5rem 0;
    flex-wrap: wrap;
}
nav a {
    color: #fff;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    transition: all 0.3s;
}
nav a:hover, nav a:focus {
    background: var(--color-accent-dark);
    color: #000;
}

